extends ../layout.pug

block content
  h2 Pieces List

  
  each piece in pieces
    p
      a(href=`/pieces/${piece.id}`) 
        = `${piece.name} by ${piece.creator.firstName} ${piece.creator.lastName} (${piece.museum.name} - ${piece.museum.city})`


